CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


STMP_HOST=
SMTP_PROVIDER=
STMP_PORT=   
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=


MONGODB_URL=

KHALTI_SECRET_KEY=
KHALTI_PAYMENT_URL=

FRONTEND_URL=